@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// media query manager:

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
*/

// 法 1
// @mixin respond-phone {
//   @media (max-width: 600px) {
//     @content;
//   }
// }

/*
$breakpoint argument choices:
- phone
- tab-port （tab portrait 平板纵向模式）
- tab-land
- big-desktop

change ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
媒体查询的em基础来自用户的设置（如果用户不更改，则为 16px 浏览器默认值）
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      // only screen 表示只对屏幕有效，对打印无效
      @content;
    } //600px
  }

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px
  }

  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }

  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800
  }
}
